#site-nav {
  .content {
    display: flex;
    justify-content: flex-end;
    min-height: 80px;
    align-items: center;

    @media screen and (max-width: $tablet-min-width) {
      min-height: 50px;
    }
    a {
      font-weight: 600;
    }
  }
  #menu-toggle {
    // Fallback support for old browsers that does not support CSS Variables
    color: map-get($map: $orange-accent, $key: "dark");

    color: var(--link-color);
  }
}
