:root {
  --bg-color: #{map-get($map: $neutral-colors, $key: "white")};
  --text-color: #{map-get($map: $neutral-colors, $key: "black")};
  --link-color: #{map-get($map: $orange-accent, $key: "dark")};
  --card-color: #{map-get($map: $neutral-colors, $key: "pure_white")};

  @media (prefers-color-scheme: dark) {
    --bg-color: #{map-get($map: $neutral-colors, $key: "dark")};
    --text-color: #{map-get($map: $neutral-colors, $key: "white")};
    --link-color: #{map-get($map: $orange-accent, $key: "base")};
    --card-color: #{map-get($map: $neutral-colors, $key: "black")};
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);

  a {
    color: var(--link-color);
  }
}
