// List stylings
li, ul {
  &.unstyled-list {
    li {
      list-style: none;
    }
  }
  &.inline-list {
    padding-right: 0;
    padding-left: 0;
    display: flex;

    li {
      &:not(:first-child):not(:last-child) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
      &:first-child {
        margin-right: 1.5rem;
      }
      &:last-child {
        margin-left: 1.5rem;
      }
    }
  }
}

// Display
.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

// Transition
.has-transition {
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
