{{ define "page-header" }}
  {{- partial "header/site-header" . -}}
{{ end }}

{{ define "main" }}
  <main class="content">
    {{ if .Params.banner }}
      <p class="banner">{{ .Params.banner }}</p>
    {{ end }}
    <article>
      {{ .Content }}
    </article>
    <ul>
      {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}

{{ define "page-footer" }}
  {{- partial "footer/site-footer" . -}}
{{ end }}
