$neutral-colors: (
  "darkest": #121212,
  "dark": #1A1A1A,
  "base": #7D7D7D,
  "light": #9A9A9A,
  "lightest": #C9C9C9,

  "pure_white": #FFF,
  "pure_black": #000,

  "white": #F4F4F4,
  "black": #393939
);

$blue-accent: (
  "darkest": #002579,
  "dark": #1354D8,
  "base": #3378FB,
  "light": #5990FB,
  "lightest": #7BA7F5
);

$green-accent: (
  "darkest": #00600B,
  "dark": #00AF1E,
  "base": #00FF2D,
  "light": #31F150,
  "lightest": #68F57D
);

$yellow-accent: (
  "darkest": #5D6900,
  "dark": #97AF00,
  "base": #CEEC00,
  "light": #DFFB35,
  "lightest": #E7FF62,
);

$orange-accent: (
  "darkest": #604100,
  "dark": #986800,
  "base": #ffa000,
  "light": #FBBC5F,
  "lightest": #FFD569
);
